In [23]:
import pandas as pd
df = pd.read_csv('8f7615b1-f6ed-41e6-871c-28129b7e9afa.csv')
df.head()

,date,mobil2_pm10,abyvallen_winddir,mobil_2_lat,risholmen_globrad,femman_lat,mobil_3_lat,mobil2_no2,risholmen_airpressure,lejonet_temp,...,lejonet_long,abyvallen_globrad,risholmen_winddir,mobil2_pm25,time,mobil_3_long,lejonet_lat,femman_globrad,mobil1_no2,mobil1_pm10
0,2024-02-09,4.46362,64.5699,57.7253,124.40,57.7088,57.7084,18.2280,1002.85,-3.122,...,11.9923,138.90,77.5000,3.43847,11:00+01:00,11.9756,57.7157,128.40,15.6094,4.666550
1,2024-02-09,3.57322,61.4700,57.7253,146.30,57.7088,57.7084,15.6499,1002.71,-2.877,...,11.9923,137.70,91.2000,2.59998,12:00+01:00,11.9756,57.7157,128.00,14.9657,0.032550
2,2024-02-09,4.22202,58.9800,57.7253,140.70,57.7088,57.7084,23.1686,1002.05,-2.589,...,11.9923,128.60,75.0100,2.22777,13:00+01:00,11.9756,57.7157,125.60,12.5111,1.025420
3,2024-02-09,3.25991,60.5500,57.7253,117.20,57.7088,57.7084,15.7977,1001.32,-2.221,...,11.9923,100.50,66.3199,1.84818,14:00+01:00,11.9756,57.7157,104.80,13.1867,2.624940
4,2024-02-09,2.80330,58.8200,57.7253,66.23,57.7088,57.7084,13.3858,1000.81,-2.175,...,11.9923,61.45,69.1700,1.43018,15:00+01:00,11.9756,57.7157,56.92,9.43535,0.452283

In [24]:
#change all "-" in the date column to "/"
df['date'] = df['date'].str.replace('-', '/')

In [25]:
#Add a new column named "submited by" to the start of the dataframe at random from list of names
list_of_names = ['Robert Johansson', 'Jenny Hassan', 'Adam Smith', 'Felicia Toll', 'Refik Bogovic']
import random
for i in range(0, len(df)):
    df.loc[i, 'submited by'] = random.choice(list_of_names)

In [26]:
#Change all valuea in column mobil_2_lat to string
df['mobil_2_lat'] = df['mobil_2_lat'].astype(str)

In [27]:
#change the value on row 3 in the column lejonet_temp to string and add "°C" to the end of the value
df.loc[3, 'lejonet_temp'] = str(df.loc[3, 'lejonet_temp']) + "°C"

C:\Users\robba\AppData\Local\Temp\ipykernel_6196\245710003.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-2.221°C' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[3, 'lejonet_temp'] = str(df.loc[3, 'lejonet_temp']) + "°C"

In [28]:
df.head()

,date,mobil2_pm10,abyvallen_winddir,mobil_2_lat,risholmen_globrad,femman_lat,mobil_3_lat,mobil2_no2,risholmen_airpressure,lejonet_temp,...,abyvallen_globrad,risholmen_winddir,mobil2_pm25,time,mobil_3_long,lejonet_lat,femman_globrad,mobil1_no2,mobil1_pm10,submited by
0,2024/02/09,4.46362,64.5699,57.7253,124.40,57.7088,57.7084,18.2280,1002.85,-3.122,...,138.90,77.5000,3.43847,11:00+01:00,11.9756,57.7157,128.40,15.6094,4.666550,Robert Johansson
1,2024/02/09,3.57322,61.4700,57.7253,146.30,57.7088,57.7084,15.6499,1002.71,-2.877,...,137.70,91.2000,2.59998,12:00+01:00,11.9756,57.7157,128.00,14.9657,0.032550,Felicia Toll
2,2024/02/09,4.22202,58.9800,57.7253,140.70,57.7088,57.7084,23.1686,1002.05,-2.589,...,128.60,75.0100,2.22777,13:00+01:00,11.9756,57.7157,125.60,12.5111,1.025420,Jenny Hassan
3,2024/02/09,3.25991,60.5500,57.7253,117.20,57.7088,57.7084,15.7977,1001.32,-2.221°C,...,100.50,66.3199,1.84818,14:00+01:00,11.9756,57.7157,104.80,13.1867,2.624940,Adam Smith
4,2024/02/09,2.80330,58.8200,57.7253,66.23,57.7088,57.7084,13.3858,1000.81,-2.175,...,61.45,69.1700,1.43018,15:00+01:00,11.9756,57.7157,56.92,9.43535,0.452283,Jenny Hassan

In [30]:
#change all the "." in the column lejonet_airpressure to ","   
df['lejonet_airpressure'] = df['lejonet_airpressure'].astype(str)
df['lejonet_airpressure'] = df['lejonet_airpressure'].str.replace('.', ',')

In [31]:
#add a copy of the column femman_lat to the end of the dataframe
df['femman_lat2'] = df['femman_lat']

In [20]:
#save the df as a new csv file called dirty_data.csv
df.to_csv('dirty_data.csv', index=False)

In [21]:
#create a new text file that sums up all the changes i made in this notebook to the original csv file
text_file = open("changes.txt", "w")
text_file.write("Change all '-' in the date column to '/'\n")
text_file.write("Add a new column named 'submited by' to the start of the dataframe at random from list of names\n")
text_file.write("Change all valuea in column mobil_2_lat to string\n")
text_file.write("Change the value on row 3 in the column lejonet_temp to string and add '°C' to the end of the value\n")
text_file.write("Change all the '.' in the column lejonet_airpressure to ','\n")
text_file.write("Add a copy of the column femman_lat to the end of the dataframe\n")


text_file.close()